<html>
  <head>
    <!-- Cloudinary -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="https://widget.cloudinary.com/global/all.js" type="text/javascript"></script>

    <!-- Bootstrap -->
    <script src="/assets/bootstrap.js" type="text/javascript"></script>
    <link href="/assets/bootstrap.css" media="screen" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
